@import 'config';

%btn{
    display: inline-block;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 3px;
    color: set-text-color($primary-clr);
    &:hover{
        transform: scale(0.98);
    }
}


.btn-primary{
    @extend %btn;
    background-color: lighten($primary-clr, 10%);
}


.btn-secondary{
    @extend %btn;
    background-color: $secondary-clr;
}