@import 'config';
@import 'utilities';
@import 'buttons';

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: $main-clr;
    font-family: $fonts;
    line-height: 1.5;
}
img{
    width: 100%;
}

a{
    text-decoration: none;
}

.showcase{
    @include set-bg($primary-clr);
    height: 800px;

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        }
        li{
            padding: 20px;
        }

        a:hover{
            color: $secondary-clr;
        }
    }

    a{
        color: set-text-color($primary-clr);
    }
    
    &-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        img{
            width: 50%;
        }
        h1{
            font-size: 50px;
            line-height: 1;
        }
        p{
            margin: 20px 0px;
        }
    }
}
